.ipynb_checkpoints/
dataInput/AllAPIJSON/
dataInput/State_ADI_Data/
dataOutput/figures/
manuscriptFigures.afdesign
archive.ipynb
slides/
authorforms/
dataInput/desc2022.xml
__pycache__/
**/.DS_Store
dataInput
manuscript/

